page-view-product {
	ion-slides {
		height: 40%;
		background-color: orange;
	}
	.item-bold {
	  font-weight: bold;
	}

	ion-card-title {
		border-bottom: 1px solid orange;
	}
	span.item-bold {
		color: green;
	}
}
.slider-pager-page:not(.active) i.icon:before {
    content: "\f401";
}
